@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;200;300;400;600;800&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--background-a);
}
:root{
    --azul-b:#26a;
    --blanco:#fff;
    --background-a: #f5f5f5;
    --background-b: #1a1a1a;
    --contraste: #ff5722;
    --acento: #ffeb3b;
    --texto-principal: #333;
    --texto-secundario: #666;
    --font-textos:  "Righteous", sans-serif;
    --font-titulos: "Work Sans", sans-serif;
}
/*  ------- SECTION HEADER --------------  */
.contenedor-header{
    background: var(--background-a);
    width: 100%;
    left: 0;
    z-index: 99;
    padding: 5px 0;
    animation: header-movement both;
    animation-timeline: scroll();
    position: sticky;
    top: 0;
    animation-range: 10px 100px;
}
.contenedor-header header{
    max-width: 1520px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.contenedor-header header .logo a{
    font-family: var(--font-textos);
    font-weight: 600;
    font-size: 36px;
    color: var(--contraste);
    text-decoration: none;
    letter-spacing: 2px;
}
.contenedor-header header ul{
    display: flex;
    list-style: none;
}
.contenedor-header header nav ul li a{
    text-align: none;
    color: var(--contraste);
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
    font-weight: 600;
}
.contenedor-header header nav ul li a:hover,.contenedor-header header .logo a:hover{
    color: var(--azul-b);
}
.nav-responsive{
    background-color: var(--contraste);
    color: var(--background-a);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
/* -------- QUERYS NAVS --------------- */
@media screen and (max-width:980px){
    nav{
        display: none;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 70px;
        background-color: var(--background-a);
        width: 180px;
    }
    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li{
        border-bottom: 2px solid var(--blanco);
        padding: 10px 0;
        text-align: center;
    }
}
/* --------- ENDS SECTION NAV --------- */
/* ---------      INICIO      --------- */
.profile{
    container-type: inline-size;
    container-name: profile;
    animation: aparecer 2.4s -.6s both;
    -webkit-animation: aparecer 2.4s -.6s both;
    background-color: var(--background-a);
}
.profile__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    max-width: 1400px;
}
.profile__data-container{
    max-width: 600px;
    padding: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--blanco);
}
.profile__img-container{
    max-height: 720px;
    overflow: hidden;
}
.profile__img{
    max-width: 100%;
    width: 600px;
}
.profile__data-container h1{
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 5px;
}
.profile__data-container h2{
    text-align: center;
    font-size: 1.2rem;
    color: var(--contraste);
    font-weight: 400;
    margin-top: 5px;
}
.profile__data-container p{
    text-align: justify;
    color: var(--texto-principal);
    font-weight: 500;
    margin: 10px 0;
}
.profile__info{
    width: 100%;
}
.profile__info h2{
    font-family: var(--font-titulos);
    color: var(--background-b);
    font-size: 1.7rem;
    font-weight: 600;
    margin-top: 15px;
}
.profile__info ul{
    list-style: none;
    padding: 20px 0;
}
.profile__info li{
    padding: 10px 0;
    color: var(--texto-principal);
}    
.profile__info strong{
    color: var(--contraste);
}
.profile__info .redes {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Centra horizontalmente el contenedor .redes */
    margin: auto;
}
.profile__info .redes a {
    color: var(--contraste);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: 1px solid var(--contraste);
    border-radius: 100%;
    width: 42px;
    height: 42px;
    margin: 0px 5px;
    font-size: 20px;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}
.profile__info .redes a:hover {
    background-color: var(--contraste);
    color: var(--blanco);
}
/* -------------- PROFILE QUERYS    ---------------------*/

@container profile (min-width: 720px){
.profile__wrapper{
    flex-direction: row;
    padding: 20px;
    height: 93vh;
    margin: auto;
}
.profile__data-container{
    background-color: var(--blanco);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 0px 25px 25px 0px;
    -webkit-border-radius: 0px 25px 25px 0px;
    -moz-border-radius: 0px 25px 25px 0px;
    -ms-border-radius: 0px 25px 25px 0px;
    -o-border-radius: 0px 25px 25px 0px;
    box-shadow: 4px 0px 9px 0px #000a;
    margin: 0;
}
.profile__data{
    max-width: 600px;
}
.profile__data h1{
    font-size: 2.5rem;
}
.profile__data h2{
    font-size: 1.4rem;
}
.profile__data p{
    width: 450px;
    text-align: justify;
}
.profile__info h2{
    font-size: 2.2rem;
    margin: 0;
}
.profile__img-container{
    max-height: initial;
    border-radius: 25px 0 0 25px;
    -webkit-border-radius: 25px 0 0 25px;
    -moz-border-radius: 25px 0 0 25px;
    -ms-border-radius: 25px 0 0 25px;
    -o-border-radius: 25px 0 0 25px;
    box-shadow: -4px 0px 9px 0px #000a;
}
.profile__img{
    height: 100%;
    object-fit: cover;
    width: 600px;
}
}
/* -------------- PROFILE ENDS    --------------------- */
/* -------------- SECCION SKILLS  --------------------- */
.skills{
    container-type: inline-size;
    container-name: skills;
    background-color: var(--background-b);
    color: var(--blanco);
    padding: 60px 10px;
    height: auto;
}
.skills .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.skills h2{
    font-size: 3rem;
    font-family: var(--font-textos);
    font-weight: 600;
    text-align: center;
    padding-bottom: 20px ;

}
.skills .fila{
    display: flex;
}
.skills .fila .col{
    width: 50%;
    padding: 0 10px;
}
.skills .fila .col h3{
    font-size: 1.2rem;
    font-family: var(--font-textos);
    font-weight: 400;
    margin: 20px 0;
}
.skills .skill > span{
    font-size: 0.8rem;
    font-weight: 300;
    display: block;
    margin: 15px 0;
}
.skills .skill .barra-skill{
    height:5px;
    width: 100%;
    background-color: var(--texto-secundario);
    position: relative;
    margin-bottom: 30px;
}
.skills .skill .progreso{
    background-color: var(--contraste);
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
}
.skills .skill .barra-skill span{
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: var(--contraste);
    border-radius: 60px;
    line-height: 25px;
    text-align: center;
    top: -12px;
    right: -4px;
    font-size: 0.8rem;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
}
.skills .skill .javascript{
    width: 0%;
    animation: 2s javascript forwards;
}
@keyframes javascript{
    0%{width: 0%;}
    100%{width: 75%;}
}
.skills .skill .htmlcss{
    width: 0%;
    animation: 2s htmlcss forwards;
}
@keyframes htmlcss{
    0%{width: 0%;}
    100%{width: 95%;}
}
.skills .skill .sql{
    width: 0%;
    animation: 2s sql forwards;
    -webkit-animation: 2s sql forwards;
}
@keyframes sql{
    0%{width: 0%;}
    100%{width: 70%;}
}
.skills .skill .wordpress{
    width: 0%;
    animation: 2s wordpress forwards;
    -webkit-animation: 2s wordpress forwards;
}
@keyframes wordpress{
    0%{width: 0%;}
    100%{width: 86%;}
}
.skills .skill .reactjs{
    width: 0%;
    animation: 2s reactjs forwards;
    -webkit-animation: 2s reactjs forwards;
}
@keyframes reactjs{
    0%{width: 0%;}
    100%{width: 65%;}
}
.skills .skill .git{
    width: 0%;
    animation: 2s git forwards;
    -webkit-animation: 2s git forwards;
}
@keyframes git{
    0%{width: 0%;}
    100%{width: 92%;}
}
.skills .skill .comunicacion{
    width: 0%;
    animation: 2s comunicacion forwards;
    -webkit-animation: 2s comunicacion forwards;
}
@keyframes comunicacion{
    0%{width: 0%;}
    100%{width: 89%;}
}
.skills .skill .dedicacion{
    width: 0%;
    animation: 2s dedicacion forwards;
    -webkit-animation: 2s dedicacion forwards;
}
@keyframes dedicacion{
    0%{width: 0%;}
    100%{width: 97%;}
}
.skills .skill .proyecto{
    width: 0%;
    animation: 2s proyecto forwards;
    -webkit-animation: 2s proyecto forwards;
}
@keyframes proyecto{
    0%{width: 0%;}
    100%{width: 91%;}
}
.skills .skill .resolutivo{
    width: 0%;
    animation: 2s resolutivo forwards;
    -webkit-animation: 2s resolutivo forwards;
}
@keyframes resolutivo{
    0%{width: 0%;}
    100%{width: 90%;}
}
.skills .skill .flexible{
    width: 0%;
    animation: 2s flexible forwards;
    -webkit-animation: 2s flexible forwards;
}
@keyframes flexible{
    0%{width: 0%;}
    100%{width: 96%;}
}
.skills .skill .velocidad{
    width: 0%;
    animation: 2s velocidad forwards;
    -webkit-animation: 2s velocidad forwards;
}
@keyframes velocidad{
    0%{width: 0%;}
    100%{width: 85%;}
}

/* --------- SKILLS QUERYS ----------------- */
@media screen and (min-width: 720px){
    .contenido-seccion h2{
        font-size: 4rem;
        font-weight: 500;
        letter-spacing: 3.5px;
    }
    .skills .fila .col h3{
        font-size: 2rem;
    }
    .skills .skill > span{
    font-size: 1.2rem;
    }
    .skills .skill .barra-skill{
        height: 8px;
    }
    .skills .skill .progreso{
        height: 8px;
    }
    .skills .skill .barra-skill span{
        height: 50px;
        width: 50px;
        line-height: 50px;
        font-size: 1rem;
        top: -20px;
    }
}

/* --------- SKILSS ENDS   ----------------- */
/* --------- SECCION EDUCACION ------------- */
.curriculum{
    background-color: var(--background-a);
}
.curriculum .contenido{
    margin: 40px 10px;
}
.curriculum .contenido .titulo-seccion{
    text-align: center;
    font-size: 3rem;
    color: var(--background-b);
    font-family: var(--font-textos);
}
.curriculum .contenido .recorrido-anios{
    max-width: 1200px;
    margin: 20px auto;
    animation: aparecer both;
    animation-timeline: view();
    animation-range: contain 10% cover 50%;   
}
.curriculum .contenido .derecha{
    display: flex;
    justify-content: end;
    position: relative;
    right: 40px;
}
.curriculum .contenido .izquierda{
    display: flex;
    justify-content: start;
    position: relative;
    left: 40px;
}
.curriculum .contenido .recorrido-anios .dato{
    max-width: 600px;
    display: grid;
    align-items: center;
}
.curriculum .contenido .recorrido-anios .dato-der{
    grid-template-columns: 80px 50px auto;
}
.curriculum .contenido .recorrido-anios .dato-izq{
    grid-template-columns: auto 50px 80px;
}
.curriculum .contenido .recorrido-anios .dato .anio{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background-color: var(--background-a);
}
.curriculum .contenido .recorrido-anios .dato .linea{
    height: 10px;
}
.curriculum .contenido .recorrido-anios .dato .info{
    font-size: 16px;
    padding: 10px;
    color: var(--background-b);   
    border-radius: 10px;
}
.curriculum .contenido .recorrido-anios .dato .info h3{
    font-size: 1.8rem;
    color: var(--background-b);
    font-weight: 500;
    font-family: var(--font-titulos);
}
.curriculum .contenido .recorrido-anios .dato .info p{
    font-size: 0.9rem;
    line-height: 20px;   
}
.c1{
    background-color: var(--contraste);
}
.c2{
    background-color: var(--contraste);
}
.c3{
    background-color: var(--contraste);
}
.c4{
    background-color: var(--contraste);
}
.c5{
    background-color: var(--contraste);
}
.c6{
    background-color: var(--contraste);
}
.b1{
    border:10px solid var(--contraste);
    color: var(--contraste);
}
.b2{
    border:10px solid var(--contraste);
    color: var(--contraste);
}
.b3{
    border:10px solid var(--contraste);
    color: var(--contraste);
}
.b4{
    border:10px solid var(--contraste);
    color: var(--contraste);
}
.b5{
    border:10px solid var(--contraste);
    color: var(--contraste);
}
.b6{
    border:10px solid var(--contraste);
    color: var(--contraste);
}

/* --------- QUERYS EDUCACION ------------- */
@media screen and (max-width: 720px){
    .curriculum .numeros{
        display: block;
    }
    .curriculum .contenido .derecha{
        right: 0px;
        justify-content: center;
    }
    .curriculum .contenido .izquierda{
        left: 0px;
        justify-content: center;
    }
    .curriculum .contenido .titulo-seccion{
        font-size: 2rem;
    }
    .curriculum .contenido .recorrido-anios .dato .info{
        border-radius: 10px;
        font-size: 0.8rem;
        padding: 10px;
        color: var(--texto-principal);
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
}
    .curriculum .contenido .recorrido-anios .dato .info h3{
        font-size: 1.2rem;
        text-align: center;
        color: var(--background-b);
        font-weight: 500;
        font-family: var(--font-titulos);
    }
    .curriculum .contenido .recorrido-anios .dato .info p{
        font-size: 0.9rem;
    }
}
/*  ----------- EDUCATION ENDS ------------ */
/*  ----------- PROYECTOS SECTION --------- */

.portfolio{
    background-color: var(--background-b);
    color: var(--background-a);
    min-height: 100vh;
}

.portfolio__title{
    font-size: 3rem;
    text-align: center;
    font-family: var(--font-titulos);
    padding: 40px 0;
}

.portfolio__project-container{
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1300px;
    margin: auto;
    width: 100%;
    gap: 12px;
    padding: 12px;
    min-height: 80vh;
}

.portfolio__project-container{
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
}

.portfolio__project:first-child{
    grid-column: span 2;
    grid-row: span 2;
    background-image: linear-gradient(#0007,#0007), url(img/Sneaky\ Sneakers.png);
}
.portfolio__project:nth-child(2){
    background-image: linear-gradient(#0007,#0007), url(img/IceTech.png);
}
.portfolio__project:nth-child(3){
    background-image: linear-gradient(#0007,#0007), url(img/Patitas\ Arriba.png);
}
.portfolio__project:nth-child(4){
    background-image: linear-gradient(#0007,#0007), url(img/Phoenix’s\ Glow.png);
}
.portfolio__project:nth-child(5){
    grid-row: span 2;
    background-image: linear-gradient(#0007,#0007), url(img/Funko\ Fanky.png);    
}   
.portfolio__project:nth-child(6){
    grid-column: span 3;
    background-image: linear-gradient(#0007,#0007), url(img/DreamwaverStyles.png);
    background-position: top;
}

.portfolio__project{
    background-position: center;
    background-size: cover;
    display: grid;
    place-content: center;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    animation: aparecer both;
    animation-timeline: view();
    animation-range: contain 10% cover 40%;
}
.portfolio__project:hover{
    opacity: 0.5;
    outline: 2px solid #fd6700;
    color: var(--contraste);
}

/* -------------- PORTFOLIOS QUERIS ----------------- */

@media screen and (max-width:720px) {
    .portfolio__project-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    }
    .portfolio__project{
        height: 150px;
    }
    .portfolio__title{
        font-size: 1.8rem;
    }
    .portfolio__project-name{
        font-weight: 400;
        letter-spacing: 4px;
        font-family: var(--font-titulos);
    }
} 

@media screen and (max-width:1260px) {
    
    .portfolio__project-container{
        grid-template-columns: repeat(auto-fill, minmax(420px,1fr));
    }

    .portfolio__project:first-child{
        grid-column: span 2;
    }

    .portfolio__project:nth-child(4){
        grid-row: span 2;
    }

    .portfolio__project:nth-child(6){
        grid-column: span 2;
    }
} 
/* ------------ PORTFOLIO ENDS ------------------ */
/* ------------ CONTACTO SECTION ---------------- */
.contacto{
    color: var(--background-b);
    padding: 40px 0px;
}
.contacto .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.contacto h2{
    font-size: 3rem;
    font-family: var(--font-textos);
    letter-spacing: 1px;
    text-align: center;
    margin:20px 0;
}
.contacto .fila{
    display: flex;
    align-items: center;
    justify-content: center;
    animation: aparecer both;
    animation-timeline: view();
    animation-range: cover 10% contain 40%;
}
.contacto .col{
    width: 50%;
    padding: 20px;
    position: relative;
    background-color: var(--background-b);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.contacto .col .input{
    border: none;
    border-bottom: 2px solid var(--contraste);
}
.contacto .col input, .contacto .col textarea{
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: transparent;
    font-size: 1.2rem;
    outline: none;
}
.contacto .col input{
    border-bottom: 1px solid var(--contraste);
}
.contacto .col input::placeholder, .contacto .col textarea::placeholder{
    color: var(--background-a);
    font-family: var(--font-titulos);
    letter-spacing: 2px;
    opacity: 0.7;
}
.contacto .col input:focus{
    
    border-bottom: 1px solid var(--contraste);
    opacity: 1;
}

.contacto button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid var(--blanco);
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: var(--blanco);
    position: relative;
    z-index: 10;
}
.contacto button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--contraste);
    z-index: -1;
    transition: 1s;
}
.contacto button:hover .overlay{
    width: 100%;
}
/* ---------- CONTACTO QUERYS --------- */
@media screen and (max-width: 720px) {
    .contacto .fila{
        display: block;
    }
    .contacto .fila .col{
        width: 90%;
        margin: auto;
    }
}
/* ---------- CONTACTO ENDS   --------- */
/* ---------- FOOTER SECTION ---------- */
footer{
    background-color: var(--background-b);
    color: var(--contraste);
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}
footer .redes{
    margin-bottom: 20px;
}
footer .redes a{
    color: var(--contraste);
    display: inline-block;
    text-decoration: none;
    border: 1px solid var(--contraste);
    border-radius: 100%;
    width: 50px;
    height: 50px;
    line-height: 48px;
    font-size: 20px;
    transition: .3s;
    margin: 40px 5px;
}
footer .redes a:hover{
    background-color: var(--background-a);
}
footer .arriba{
    display: block;
    background-color: var(--background-a);
    color: var(--contraste);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -20px;
    line-height: 38px;
    font-size: 1.5rem;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 2px solid var(--contraste);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
footer .arriba:hover{
    background-color: var(--background-b);
}
/* ------------ FOOTER QUERYS      -------------- */
/* ------------ FOOTER ENDS        -------------- */
/* ------------ ANIMATIONS SECTION -------------- */
@keyframes header-movement{
    from{
        background-color: var(--background-a);
    }
    to{
        padding: 5px 0; 
        background-color: #1a1a1a66;
    }
} 

@keyframes aparecer{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}